<div class="row">
  <div class="col-12 p-0 mb-2">
    <ul class="nav nav-tabs border-0 bg-white" id="myTab" role="tablist">
      <li class="nav-item border-bottom-4 border-color-default">
        <a class="nav-link border-0 cursor-pointer font-weight-bold" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          routerLink="/applications/list">{{'applications.applications_list_label' | translate}}</a>
      </li>
      <li class="nav-item border-bottom-4 border-color-default">
        <a class="nav-link border-0 cursor-pointer font-weight-bold" routerLinkActive="active"
          *ngIf="!router.url.includes('/applications/update')" [routerLinkActiveOptions]="{exact: true}"
          routerLink="/applications/create">
          {{'applications.applications_create_label' | translate}}</a>
      </li>
      <li class="nav-item border-bottom-4 border-color-default">
        <a class="nav-link border-0 cursor-pointer font-weight-bold" *ngIf="router.url.includes('/applications/update')"
          [ngClass]="{'active': router.url.includes('/applications/update')}"
          (click)="goToActiveComponent('/applications/update')">{{'applications.applications_update_label' | translate}}</a>
      </li>
    </ul>
  </div>
  <div class="col-12 p-0 mb-2 bg-light text-dark">
    <div class="tab-content py-2 bg-white rounded shadow" id="myTabContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>