<iapps-header
  nav-logo="/dam/public/backoffice/assets/images/logo.png"
  user-name="Admin"
  menu-icon="/dam/public/backoffice/assets/images/apps.png"
>
  <iapps-header-menu-list class="d-none">
    <main-menu>
      <main-menu-url></main-menu-url>
      <main-menu-label>Profile</main-menu-label>
    </main-menu>
    <main-menu>
      <main-menu-url></main-menu-url>
      <main-menu-label>Change Password</main-menu-label>
    </main-menu>
    <main-menu>
      <main-menu-url>/auth</main-menu-url>
      <main-menu-label>Logout</main-menu-label>
    </main-menu>
  </iapps-header-menu-list>
</iapps-header>
